<p id="notice"><%= notice %></p>

<h1>Listing Cakes</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cakes.each do |cake| %>
      <tr>
        <td><%= image_tag cake.image.url(:medium) %></td>
        <td><%= cake.name %></td>
        <td><%= cake.description %></td>
        <td><%= cake.user.email %></td>
        <td><a><%= link_to '**Show Product**', cake %></a></td>
          <% if cake.user == current_user %>
        <td><%= link_to 'Edit', edit_cake_path(cake) %></td>
        <td><%= link_to 'Destroy', cake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cake', new_cake_path %>
